


<mat-tab-group   #tabGroup>
    <mat-tab label="PROFILE">
      <mat-card-content class="b-t-1">
        <div class="d-flex justify-content-center align-items-center" >
          <img
            src="assets/images/profile/user-1.jpg"
            alt="users"
            width="150"
            class="rounded-circle"
          />
        </div>
    
        <form [formGroup]="profileForm">
          <div class="row">
            <div class="col-lg-6">
              <!-- input -->
              <mat-label class="f-w-600 m-b-8 d-block">Client ID</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput placeholder="Client ID " formControlName="clientId" />
              </mat-form-field>
            </div>
            <div class="col-lg-6">
             <!-- input -->
             <mat-label class="f-w-600 m-b-8 d-block">Name</mat-label>
             <mat-form-field appearance="outline" class="w-100" color="primary">
               <input matInput placeholder="Name"  formControlName="name" />
             </mat-form-field>
            </div>
            <div class="col-lg-6">
              
              <mat-label class="f-w-600 m-b-8 d-block">Eamil</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput placeholder="Eamil"  formControlName="email" />
              </mat-form-field>
     
            </div>
            <div class="col-lg-6">
              <!-- input -->
              <mat-label class="f-w-600 m-b-8 d-block">Password</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput placeholder="Password" formControlName="password"  />
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">Phone Number</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput placeholder="Phone Number" formControlName="phonenumber"/>
              </mat-form-field>
          
            </div>
            <div class="col-lg-6">
              <!-- input -->
              <mat-label class="f-w-600 m-b-8 d-block">PAN Number</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput placeholder="PAN Number" formControlName="pannumber"/>
              </mat-form-field>
           
            </div>
        
          </div>
    
          <div class="m-t-12">
            <button mat-flat-button color="primary" class="m-r-8" (click)="onSubmit()" type="submit">DONE</button>
            <button mat-stroked-button color="warn" (click)="onNoClick()">Cancel</button>
   
          </div>
        </form>
      </mat-card-content> 
    </mat-tab>
    <mat-tab label="BANK DETAILS">   
        <mat-card-content class="b-t-1">
      <div class="d-flex justify-content-center align-items-center" >
        <img
          src="../../../assets/fp/image.png"
          alt="users"
          width="150"
          class="rounded-circle"
        />
      </div>
  
      <form [formGroup]="bankdata">
        <div class="row">
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">A/C Holder Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="A/C Holder Name "formControlName="acholde"   />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
           <!-- input -->
           <mat-label class="f-w-600 m-b-8 d-block">Account Number</mat-label>
           <mat-form-field appearance="outline" class="w-100" color="primary">
             <input matInput placeholder="Account Number" formControlName="acnumber" />
           </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">IFCS Code</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="IFCS Code"formControlName="ifcecode"  />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Bank Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Bank Name"formControlName="bankname" />
            </mat-form-field>
        
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Branch Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary" >
              <input matInput placeholder="Branch Name" formControlName="branchname" />
            </mat-form-field>
         
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Account Opening Date</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary" >
              <input matInput placeholder="Account Opening Date" formControlName="accountopningdate" type="date" />
            </mat-form-field>
         
          </div>
        </div>
  
        <div class="m-t-12">
          <button mat-flat-button color="primary" class="m-r-8" type="submit" (click)="ondatasubmit()">DONE</button>
          <button mat-stroked-button color="warn" (click)="onNoClick()">Cancel</button>
        </div>
      </form>
    </mat-card-content> 
   </mat-tab>
  
  
  </mat-tab-group>